/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #EEEEEE;
  --vt-c-black: #000000;

  --vt-c-blue-dark-1: #1A1F23;
  --vt-c-blue-dark-2: #222831;
  --vt-c-blue-dark-3: #2E3440;
  --vt-c-blue-dark-4: #3B4453;


  --vt-c-green: #76ABAE;
  --vt-c-red: #AE7676;
  --vt-c-orange: #AEA176;

  --vt-c-grey: #B4B4B4;
  --vt-c-grey-2: #31363F;
  --vt-c-grey-3: #5D6979
}

/* semantic color variables for this project */

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-blue-dark-2);
    --color-left-bar-1: var(--vt-c-blue-dark-3);
    --color-left-bar-2: var(--vt-c-blue-dark-4);
    --color-top-bar: var(--vt-c-blue-dark-1);
    --color-line: var(--vt-c-grey-2);
    --color-underline: var(--vt-c-grey-3);
    --color-title: var(--vt-c-green);
    --color-text: var(--vt-c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
